@model  List<ViewModel.ProductViewModel> 
@{
    ViewBag.Title = "TodaySpecials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="tm-welcome-section">
    <div class="container tm-position-relative">
        <div class="tm-lights-container">
            <img src="/Assets/img/light.png" alt="Light" class="light light-1">
            <img src="/Assets/img/light.png" alt="Light" class="light light-2">
            <img src="/Assets/img/light.png" alt="Light" class="light light-3">
        </div>
        <div class="row tm-welcome-content">
            <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="/Assets/img/header-line.png" alt="Line" class="tm-header-line">&nbsp;Today's Special&nbsp;&nbsp;<img src="/Assets/img/header-line.png" alt="Line" class="tm-header-line"></h2>
            <h2 class="gold-text tm-welcome-header-2">Cafe House</h2>
            <a href="#main" class="tm-more-button tm-more-button-welcome">Read More</a>
        </div>
        <img src="/Assets/img/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
    </div>
</section>
<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
        <section class="tm-section tm-section-margin-bottom-0 row">
            <div class="col-lg-12 tm-section-header-container">
                <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="/Assets/img/logo.png" alt="Logo" class="tm-site-logo"> Special Items</h2>
                <div class="tm-hr-container"><hr class="tm-hr"></div>
            </div>
            <div class="col-lg-12 tm-popular-items-container">

                @foreach (var item in Model)
                {
                    string base64String = Convert.ToBase64String(item.Image, 0, item.Image.Length);

                    <div class="tm-popular-item">
                        <img src="data:image/jpg;base64,@base64String" alt="Popular" class="tm-popular-item-img">
                        <div class="tm-popular-item-description">
                            <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">@item.ProductName.Substring(0, 1)</span>@item.ProductName.Substring(1, item.ProductName.Length-1)</h3><hr class="tm-popular-item-hr">
                            <p>@item.Description</p>
                            
                                @if (User.Identity.IsAuthenticated)
                                {<div class="order-now-container click-able">
                                <a onclick="AddCartTS(@item.ProductId)" class="order-now-link tm-handwriting-font">Order Now</a>
                            </div>
                                }
                                else
                                {<div class="order-now-container click-able">
                             <a href="/Login/Index" class="order-now-link tm-handwriting-font">Order Now</a>
                            </div>
                                }


</div>
                    </div>
                }
            </div>
        </section>
        <section class="tm-section">
            <div class="row">
                <div class="col-lg-12 tm-section-header-container">
                    <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="/Assets/img/logo.png" alt="Logo" class="tm-site-logo"> Daily Menu</h2>
                    <div class="tm-hr-container"><hr class="tm-hr"></div>
                </div>
            </div>
            <div class="row">
                <div class="tm-daily-menu-container margin-top-60">
                    <div class="col-lg-4 col-md-4">
                        <img src="/Assets/img/menu-board.png" alt="Menu board" class="tm-daily-menu-img">
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                        <ol class="margin-top-30">
                            <li>Tellus eget condimentum rhoncus.</li>
                            <li>Sem quam semper libero.</li>
                            <li>Sit amet adipiscing sem neque sed ipsum.</li>
                            <li>Nam quam nunc, blandit vel, luctus pulvinar.</li>
                            <li>Maecenas nec odio et ante tincidunt tempus.</li>
                            <li>Donec vitae sapien ut libero ventenatis faucibus.</li>
                        </ol>
                        <a href="#" class="tm-more-button margin-top-30">Read More</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
