.tm-side-menu li {
    list-style: none;
    padding: 1.5px;
}
/* Cart */
/*.header__cart {
    text-align: center;
    z-index: 3;
}*/

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent #c79c60 transparent;
}
.header__cart-list.header__cart-list--no-cart::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.header__cart-wrap {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 12px;
    cursor: pointer;
    z-index: 10;
}

    .header__cart-wrap:hover .header__cart-list {
        display: block;
    }

.header__cart-icon {
    color: #C79C60;
    font-size: 23.4px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 10px);
    right: 1px;
    background-color: #FDFDFD;
    width: 310px;
    border-radius: 5px;
    box-shadow: 0 1px 50px 0 rgb(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
}

.header__cart-list--no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 10px;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    padding: 0px 8px;
    font-size: 11.4px;
    color: black;
    background-color: #c79c60;
    line-height: 22.4px;
    border-radius: 10px;
    border: 2px solid black;
    top: -1px;
    right: -7px;
}

.header__cart-heading {
    text-align: left;
    padding: 8px 0 8px 12px;
    font-size: 13px;
    color: black;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
    background-color: #c79c60;
    margin: 0;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 56vh;
    overflow-y: auto;
    
}

.header__cart-item {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #c79c60;
}

    .header__cart-item:hover {
        background-color: #F8F8F8;
    }

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
    object-fit: cover;
    min-width: 42px;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header__cart-item-name {
    font-size: 16.4px;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__cart-item-price {
    font-size: 12.4px;
    font-weight: 400;
    color: #c79c60;
}

.header__cart-item-multiply {
    font-size: 6.4px;
    margin: 0 4px;
    color: #757575;
    color: #c79c60;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 11.2px;
    color: #c79c60;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}

.header__cart-item-remove {
    color: var(--text-color)!important;
    font-size: 10.4px;
    padding: 3px !important;

}

    .header__cart-item-remove:hover {
        color: #c79c60 !important;
        cursor: pointer;
    }

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px;
    color: black;
}

.header__cart-view-cart:hover{
        background-color: black;
        cursor: pointer;
       
    }

.btn {
    min-width: 90px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 0 12px;
    color: var(--text-color);
    outline: none;
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
}

    .btn.btn--primary {
        color: black;
        background-color: #c79c60;
    }
.btn:hover{
    background-color: black;
    color: white;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    z-index: 4;
    align-self: center;
    bottom: 1.5px;
}

    .header__navbar-user:hover .header__navbar-user-menu {
        display: block;
    }

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid rgb(199,156,96,.9);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 14.5px;
    font-weight: 500;
    color: #c79c60;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 100%;
    right: 0;
    border-radius: 2px;
    background-color: white;
    width: 160px;
    list-style: none;
    box-shadow: 0 2px 3px #ccc;
    display: none;
}

    .header__navbar-user-menu::after {
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        right: 0;
        width: 60%;
        height: 8px;
    }

.header__navbar-user-item {
}

    .header__navbar-user-item a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.4rem;
        padding: 8px 16px;
        display: block;
        font-weight: 300;
    }

.header__navbar-user-item--separate {
    border-top: 1px solid #c79c60;
}

    .header__navbar-user-item--separate a {
    }

.header__navbar-user-item a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__navbar-user-menu::before {
    content: "";
    border-style: solid;
    border-width: 20px 28px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
    z-index: -1;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}
.tm-product-img {
    width: 136px;
    height: 136px;
    object-fit: cover;
}
.save-btn{
  float: right;
  margin-bottom: 10px;
}
.select-language {
    position: absolute;
    border: 0px solid #fff;
    background-color: transparent;
    right: 10px;
    top: 24px;
}
.header__navbar-user-language {
    margin-left: 4px;
    font-size: 14.5px;
    font-weight: 500;
    color: #c79c60;
}
.message{
    color: red;
    list-style-type: none;
}
.click-able{
    cursor: pointer;
}
