
body {
    background-color: #e4e4e4;
}

.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#title {
    margin: 32px 0px;
}

.spacing {
    margin: 64px;
}

.form-group label {
    font-size: 14px;
}