
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2>Drinking Cart</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            <div class="product">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid mx-auto d-block image img" src="~/Assets/img/tstranchau.jpg">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a href="#">Trà sữa trân châu</a>
                                                        <div class="product-info">
                                                            <div>Loại: <span class="value">Đồ uống</span></div>
                                                            <div>Giảm giá <span class="value">Không</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <label for="quantity">Quantity:</label>
                                                    <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span>20000₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid mx-auto d-block image img" src="~/Assets/img/tstranchau.jpg">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a href="#">Trà sữa trân châu</a>
                                                        <div class="product-info">
                                                            <div>Loại: <span class="value">Đồ uống</span></div>
                                                            <div>Giảm giá <span class="value">Không</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <label for="quantity">Quantity:</label>
                                                    <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span>20000₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid mx-auto d-block image img" src="~/Assets/img/tstranchau.jpg">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a href="#">Trà sữa trân châu</a>
                                                        <div class="product-info">
                                                            <div>Loại: <span class="value">Đồ uống</span></div>
                                                            <div>Giảm giá <span class="value">Không</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <label for="quantity">Quantity:</label>
                                                    <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span>20000₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <div class="summary-item"><span class="text">Subtotal</span><span class="price">$360</span></div>
                            <div class="summary-item"><span class="text">Discount</span><span class="price">$0</span></div>
                            <div class="summary-item"><span class="text">Shipping</span><span class="price">$0</span></div>
                            <div class="summary-item"><span class="text">Total</span><span class="price">$360</span></div>
                           <a href="/Payment/Index" type="button" class="btn btn--primary btn-lg btn-block">Checkout<a/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

